#python
_pycache_/
*.pyc
.venv
env/
venv/
.ipynb_checkpoints/

#VS code
.vscode/
.history/

#Environment&secrets
*.env
*.env.local
*.env.production

#Ml/Datascience
*.h5
*.ckpt
*.pth
*.pt
*.pickle
*.pkl
*.joblib
logs/
runs/
data/
datasets/
